* {
    margin: 0;
    padding: 0;
}


.header {
    background-color: rgb(226, 80, 43);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
   
}
.main{
    display: flex;
    gap:30px ;
    margin: auto;
background-color: aqua;
    width: 50%;
}
/* .text{
   background-color: blue;
   /* font-size: 18px; */
   font-weight: bold;
   color: #000;
} */
.logo{
    background-color: olive;
    width: 50%;
}
.logo img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin-right: 700px;

}

.login {
    background-color: rgb(185, 130, 130);
    padding: 5px;
    width: 70px;
    /* margin-left: 850px; */
    border-radius: 8px;
}
.Signup {
    background-color: rgb(185, 130, 130);
    /* margin-right: 200px; */
    padding: 5px;
    width: 70px;
    border-radius: 8px;
}
.opt{
  
}